/*body {
	width: 960px;
}
*/
h1 {
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 16px;
	color: #4aaaa5;
	font-weight: bold;
}

h3 {
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: white;
	width: 100%;
	background-color: #4aaaa5;
	width: 270px;
	position: absolute;	   	
}

p {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	line-height: 2em;
	font-size: 14px;
	color: #777777;
}

header {
	height: 64px;
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
}

#name {
	float: left;
	color: white;
	padding: 20px;
	margin-left: 80px;
	background-color: #4aaaa5;
}

#navbar {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	float: right;
	margin-top: 15px;
	margin-right: 280px;
}

a {
	font-size: 12px;
	text-decoration: none;	
}

	a:link {
	    color: #777777;
		}
	a:visited {
	    color: #777777;
		}
	a:hover {
	    color: hotpink;
		}
	a:active {
	    color: blue;
		}

#about {
		float: left;
		padding-right: 20px;
		margin-top: 10px;
}

#portfolio {
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	margin-top: 10px;
}

#contact {
	float: left;
	padding-left: 20px;
	margin-top: 10px;
}

#container {
	clear: both;
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url("topography.png");
}

main {
	width: 650px;
	float: left;
	padding: 40px;
	border: 1px solid #dddddd;
	margin-left: 80px;
	background-color: #ffffff;
}

#bodyheading {
	padding-bottom: 20px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 20px;
	color: #4aaaa5;
}

#biopic {
	float: left;
	margin-right: 20px;
}

#hangman {
	position: relative;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}
	#hangmantext {
			top: 160px; 
		   	left: 20px; 
		   	padding-top: 20px;
		   	padding-bottom: 20px;
		}

#rpggame {
	position: relative;
	float: right;
	padding-right: 20px;
	padding-top: 20px;
}
	#rpggametext {
			top: 160px; 
		   	left: 0px; 
		   	padding-top: 20px;
		   	padding-bottom: 20px;
		}

#trivia {
	position: relative;
	clear: both;
	float: left;
	padding-left: 20px;
	padding-top: 30px;
}
	#triviatext {
			top: 170px; 
		   	left: 20px; 
		   	padding-top: 20px;
		   	padding-bottom: 20px;
		}

#infowidget {
	position: relative;
	float: right;
	padding-right: 20px;
	padding-top: 30px;
}
	#infowidgettext {
			top: 170px; 
		   	left: 0px; 
		   	padding-top: 20px;
		   	padding-bottom: 20px;
		}

#roshambo {
	position: relative;
	clear: both;
	float: left;
	padding-left: 20px;
	padding-top: 30px;
}
	#roshambotext {
			top: 170px; 
		   	left: 20px; 
		   	padding-top: 20px;
		   	padding-bottom: 20px;
		}

/*insert other body pictures*/

aside {
	width: 228px;
	float: left;
	padding: 20px;
	border: 1px solid #dddddd;
	margin-left: 40px;
	background-color: #ffffff;
}

#connectwithme {
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 10px;
	text-align: center;
}

#connectlinks {
	padding-left: 20px;
}

footer {
	clear: both;
	overflow: auto;
	height: 80px;
	/*specified height to use a sticky footer from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/; needs reinspection*/
	border-top: 5px solid #4aaaa5;
	text-align: center;
	background-color: #666666;
}

#footerscript {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 10px;
	color: white;
}

/*used for sticky footer*/
/*.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}*/

/*used for sticky footer*/
/*.site_content {
  flex: 1;
}*/

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}